span {
  margin: auto 20px;
}

.custom-navbar {
  background-color: #9681d5;
  border-radius: 1.1rem;
}

.nav-link {
    color: white;
}

.brand {
  font-size: 1.8rem;
}

body {
  background: #b993d6; 
  background: -webkit-linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  );
  background: linear-gradient(
    to right,
    #8ca6db,
    #b993d6
  ); 
}
